<!-- Le Footer
================================================== -->
<div class="well">
<small><em>Hints, Bugs, and Disclaimers:</em> Click on any point to get details for that episode. Click on a week number for that week's complete hype ladder. Click on a title in the legend to highlight that anime's journey through time and hype. {{ page.footercomments }} Resizing your browser window triggers a DOM redraw because I suck. Designed by <a href="http://sclabs.gilgi.org">Scoot's Canoe Labs</a>, built with <a href="http://getbootstrap.com/">Bootstrap</a>, powered by <a href="https://developers.google.com/chart/">Google Charts</a>, and hosted by <a href="https://pages.github.com/">GitHub Pages</a>.</small>
</div>