<!-- Le navbar
================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Anime Hype Ladder</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="{{ page.summer2014 }}"><a href="/">Summer 2014</a></li>
          <li class="dropdown {{ page.spring2014 }}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Spring 2014 <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="{{ page.spring2014chart }}"><a href="/spring2014">Ladder</a></li>
              <li class="{{ page.spring2014rankings }}"><a href="/spring2014/rankings">Final Rankings</a></li>
              <li class="{{ page.spring2014awards }}"><a href="/spring2014/awards">Awards</a></li>
            </ul>
          </li>
          <li class="{{ page.about }}"><a href="/about">About</a></li>
          <li class="{{ page.blog }}"><a href="/blog">Blog</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="http://gilgi.org" class="dropdown-toggle" data-toggle="dropdown">Gilgi.org Network <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.gilgi.org" target="_blank"><i class="icon-home"></i> Gilgi.org</a></li>
              <li class="divider"></li>
              <li><a href="http://puwn.gilgi.org" target="_blank"><i class="icon-map-marker"></i> PUWN</a></li>
              <li><a href="http://romanchickens.gilgi.org" target="_blank"><i class="icon-picture"></i> Roman Chickens</a></li>
              <li><a href="http://scgs.gilgi.org" target="_blank"><i class="icon-cog"></i> SCGS</a></li>
              <li><a href="http://sclabs.gilgi.org" target="_blank"><i class="icon-lab"></i> sclabs</a></li>
              <li><a href="http://scootscanoe.gilgi.org" target="_blank"><i class="icon-screenshot"></i> Scoot's Canoe</a></li>
              <li class="active whitecolor"><a href="/"><i class="icon-film icon-white"></i> Anime Hype Ladder</a></li>
              <li class="divider"></li>
              <li><a href="http://status.gilgi.org" target="_blank"><i class="icon-signal"></i> Status</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->